@import "tailwindcss";
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Scrollbar مخصص */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #222831;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffb400;
  border-radius: 8px;
  border: 2px solid #222831;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffa500;
}
